@model ManualesElectronicosFInalFinal2.Models.ViewModelCurso
@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/OtrosColores.css" rel="stylesheet" />
    <link href="~/Content/cards.css" rel="stylesheet" />
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link href="~/Content/sidebar.css" rel="stylesheet" />
    <!-- Para usar iconos con FontAwesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="jquery-3.5.0.min"></script>
    <script src="util.js"></script>

    <title>Cursos</title>


</head>
<body>
    <nav class="menu" id="sidebar">
        <div>
        </div>
        <ul>
            <li><a asp-action="Docentes" asp-controller="Docentes"><i class="fa fa-address-card"></i>Docentes</a></li>
            <li><a asp-action="Alumnos" asp-controller="Alumnos"><i class="fa fa-address-card"></i>Alumnos</a></li>
            <li><a asp-action="Cursos" asp-controller="Cursos"><i class="fa fa-address-card"></i>Cursos</a></li>

        </ul>

    </nav>
    <header>
        <a href="#" class="toggle-btn"><i class="fa fa-bars"></i></a>
        <h1 style="color:white; width:auto; border-bottom:none; text-align:center;"><b>ITESRC</b> Manuales Electronicos</h1>
        <div class="dropdown">
            <a href="#" class="right">
                <i class="fa fa-user"></i>
            </a>
            <ul>
                <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>

    <main id="contenido">
        <div>
            <h2 style=" float:right; margin-top:15px; "> <a href="javascript:showModal('modalAgregar')" style="color:white;"><i class="fas fa-plus-circle"></i></a></h2>
        </div>

        <div class="main">

            <!--cards -->
            @foreach (var item in Model.Cursos)
            {
           
                <div class="card">

                    <div class="image">
                        <img src="https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-preview.jpg" />
                    </div>
                    <div class="title">
                        <h1>
                            @item.Nombre
                        </h1>
                    </div>
                    <div class="des">
                        <p> @item.FechaInicio.Value.Day/@item.FechaInicio.Value.Month/@item.FechaInicio.Value.Year </p>
                        @*<p> @item.FechaFinal.Value.Day/@item.FechaFinal.Value.Month/@item.FechaFinal.Value.Year </p>*@
                        <a href="javascript:editar(@item.Id)" style="margin-left:5px;"><i class="fas fa-edit"></i></a>
                        <a href="javascript:eliminar(@item.Id)"><i class="fa fa-trash"></i></a>
                        <div><a asp-action="Temas" asp-controller="Temas" style="color:whitesmoke; font-size:large;">Ver Temas</a></div>
                    </div>

                </div>
                }
          
            }

        </div>
        <div class="modal" id="modalAgregar">
            <section>
                <h2>Agregar Curso</h2>

                <form class="formAjax" method="post" action="~/Cursos/Agregar">
                    <label class="col-2">Nombre:</label>
                    <input class="col-10" required asp-for="Curso.Nombre" />

                    <label class="col-2">Clave Curso:</label>
                    <input class="col-10" input type="text" required asp-for="Curso.Clave" />

                    <label class="col-2">Fecha Inicio:</label>
                    <input class="col-10" type="date" required asp-for="Curso.FechaInicio" />





                    <label class="col-12 error"></label>

                    <a href="~/Cursos/Cursos">
                        <input type="button" value="Cancelar" />
                    </a>
                    <input type="submit" value="Agregar" />
                </form>
            </section>
        </div>
        <div id="modalEditar" class="modal" >
            <section>
                <h2>Editar Curso</h2>

                <form class="formAjax" method="post" action="~/Cursos/EditarCurso">
                    <input id="editId" type="hidden" asp-for="Curso.Id" />
                    <label class="col-2">Nombre:</label>
                    <input id="editNombre" class="col-10" required asp-for="Curso.Nombre" />

                    <label class="col-2">Clave:</label>
                    <input type="text" class="col-10"  required asp-for="Curso.Clave"  disabled/>

                    <label class="col-2">Fecha Inicio:</label>
                    <input id="editInicio" type="date" asp-for="Curso.FechaInicio" class="col-10" required />





                    <label class="col-12 error"></label>

                    <a href="~/Cursos/Cursos">
                        <input type="button" value="Cancelar" />
                    </a>
                    <input type="submit" value="Agregar" />
                </form>
            </section>
            <script>
                function editar(id) {


			$.post('@Url.Action("GetCurso", "Cursos")', { "id": id }, function (data, status) {
				if (data != false) {
                    //function f(jsondate) { var newDate = dateFormat(jsondate, "mm/dd/yyyy"); return new Date; }
                 //   data.day = new Date().toISOString().split('T')[0];
                   // data.day = data.day.toISOString().split('T')[0];
                    data.fechaFinal = new Date().toISOString().split('T')[0];
                    var x = $("#modalEditar form");
                    //data.day = new Date();
					x.find("#editId").val(data.id);
                    x.find("#editNombre").val(data.nombre);
                    x.find("#editInicio").val(data.inicio);
                    x.find("#editFinal").val(data.final);
					//x.find('#editIdCarrera option[value="' + data.idCarrera + '"]').attr('selected', true)
					showModal("modalEditar");
				}
			});
		}
            </script>
        </div>
        <div  id="modalEliminar" class="modal">
            <section>
                <h2>Confirme la eliminación</h2>

                <form class="formAjax" method="post" action="~/Cursos/Eliminar">
                    <input id="deleteId" type="hidden" name="Id" />
                    <p>¿Esta seguro de eliminar?</p>


                    <label class="col-12 error"></label>

                    <a href="~/Cursos/Cursos">
                        <input type="button" value="No" class="cancel" />

                    </a>

                    <input type="submit" value="Si" />
                </form>
                <script>
                    function eliminar(id) {
                        $("#deleteId").val(id);
                        showModal("modalEliminar");

                    }

                </script>
            </section>
       
        </div>
    </main>

    <script src="~/main.js"></script>

</body>
</html>