@model Curso
@{
    ViewData["Title"] = "EditarCurso";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Views/Cursos/style.css" rel="stylesheet" />
</head>
<body>
    <section>
        <form method="post" asp-action="EditarCurso" asp-controller="Cursos">
            <div>
                <h2>Editar Curso</h2>
            </div>
            <input type="hidden" id="id" asp-for="Id" /><br />
            <input type="text" asp-for="@Model.Clave" placeholder="@Model.Clave" required="required" /><br />
            <input type="text" asp-for="@Model.Nombre" placeholder="@Model.Nombre" required="required" /><br />
            <p>Fecha inicio</p>
            <input placeholder="Fecha" /><br />
            <p>Fecha final</p>
            <input placeholder="FechaF" /><br />
            <input placeholder="Nombre Curso" /><br />
            <select></select>

            <div class="botones">
                <input type="submit" value="Editar" />
                <button>Cancelar</button>

            </div>
            <div>
                <p>@Html.ValidationSummary()</p>
            </div>
        </form>
    </section>
</body>
</html>