@model ManualesElectronicosFInalFinal2.Models.ViewModelAlumnos
@inject DocenteService service

@{
	ViewData["Title"] = "Alumnos";
	Layout = "~/Views/Shared/Layout.cshtml";

}
<head>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>



	<style>
		.modal {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.5);
			display: none;
		}

			.modal div {
				background-color: white;
				margin: 20px auto;
				width: 500px;
			}
	</style>

</head>
<h2 style="text-align:center">Alumnos</h2>

<a style="text-align:start; float:left; margin-right:500px; margin-left:610px" class="btn btn-primary" href="javascript:showModal('modalAgregar')"><i></i> Agregar Alumno</a>
@foreach (var item in Model.Alumnos)
{

	<div class="card" style="width: 18rem;">

		<div class="card-body">
			<h5 class="card-title">@item.Nombre</h5>
			<p  class="card-text">@item.NumeroControl</p>
			
			<p  class="card-text">@item.IdCarreraNavigation.Nombre</p>
			<p></p>
			<a class="btn btn-primary" href="javascript:eliminar(@item.Id)"><i class="fa fa-remove"></i> Eliminar</a>
			<a class="btn btn-primary" href="javascript:editar(@item.Id)"><i class="fa fa-edit"></i> Editar</a>
		</div>
	</div>
}


<div class="modal" id="modalAgregar">
	<div>
		<h1>Agregar Alumno</h1>
		@*Es necesario agregar la clase formAjax definida en util.js*@

		<form class="formAjax" method="post" action="~/Alumnos/Agregar">
			<label>Nombre:</label>
			<input required asp-for="Alumno.Nombre" />
			<label>Numero de control:</label>
			<input required asp-for="Alumno.NumeroControl" />
			<label>Carrera:</label>
			
			<select required asp-for="Alumno.IdCarrera" asp-items="@(new SelectList(service.GeTcarreritas(),"Id", "Nombre"))">
				<option value="">Seleccione una clase</option>
			</select>

			<p class="error"></p>

			<input type="submit" value="Agregar" />
			<a href="~/Alumnos/Alumnos">
				<input type="button" value="Cancelar" />
			</a>
		</form>
	</div>
</div>


<div id="modalEliminar" class="modal">
	<div>
		<h1>Eliminar Alumno</h1>

		<form class="formAjax" method="post" action="~/Alumnos/Eliminar">
			<input id="deleteId" type="hidden" name="Id" />
			<p><b>¿Está seguro de eliminar el alumno?</b></p>

			<p class="error"></p>

			<input type="submit" value="Si" />
			<a href="~/Alumnos/Alumnos">
				<input type="button" value="No" />
			</a>
		</form>
	</div>
	<script>
		function eliminar(id) {
			$("#deleteId").val(id);
			showModal("modalEliminar");
		}
	</script>
</div>

<div id="modalEditar" class="modal">
	<div>
		<h1>Editar Alumno</h1>

		<form class="formAjax" method="post" action="~/Alumnos/Editar">
			<input id="editId" type="hidden" asp-for="Alumno.Id" />

			<label>Nombre:</label>
			<input id="editNombre" required asp-for="Alumno.Nombre" type="text" />


			<label>Numero de control:</label>
			<input id="editNumeroControl" required asp-for="Alumno.NumeroControl" type="text" />

			<label>Carrera:</label>
			<select id="editIdCarrera" required asp-for="Alumno.IdCarrera" asp-items="@(new SelectList(service.GeTcarreritas(),"Id", "Nombre"))">
				<option value="">Seleccione una clase</option>
			</select>

			<p class="error"></p>

			<input type="submit" value="Guardar" />
			<a href="~/Alumnos/Alumnos">
				<input type="button" value="Cancelar" />
			</a>
		</form>
		<script>
		function editar(id) {
			$.post('@Url.Action("GetAlumno", "Alumnos")', { "id": id }, function (data, status) {
				if (data != false) {

					var x = $("#modalEditar form");
					x.find("#editId").val(data.id);
					x.find("#editNombre").val(data.nombre);
					x.find("#editNumeroControl").val(data.numeroControl);

					x.find('#editIdCarrera option[value="' + data.idCarrera + '"]').attr('selected', true)
					showModal("modalEditar");
				}
			});
		}
		</script>
	</div>
</div>


@*<script src="~/util.js"></script>*@

