@model ManualesElectronicosFInalFinal2.Models.DocentesViewModels.DocenteViewModel;
        @{
            ViewData["Title"] = "Docentes";
            Layout = "~/Views/Shared/Layout.cshtml";
        }
        @inject DocenteService service
        @*<h2 style="text-align:center">Docentes</h2>
            <a style="text-align:start; float:left; margin-right:500px; margin-left:610px" asp-action="Agregar" asp-controller="Docentes" class="btn btn-primary">Agregar Docente</a>*@

        @*@foreach (var item in Model)
            {
               <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">@item.NumeroDeControl</p>
                        <p></p>
                        <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-primary" asp-controller="Docentes">Eliminar Docente</a>
                        <a asp-action="EditarDocentes" asp-route-id="@item.Id" class="btn btn-primary" asp-controller="Docentes">Editar  Docente</a>
                    </div>
                </div>
            }*@


    <head>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link href="~/Views/Docentes/style.css" rel="stylesheet" />
    </head>
    <body>
        <style>
            html {
                position: relative;
                min-height: 100%;
            }

            body {
                background: #2f313d;
                font-family: sans-serif;
                font-size: 20px;
            }

            table {
                margin: auto;
            }

            th {
                background-color: #212226;
                color: aliceblue;
            }

            td {
                background-color: #434550;
                color: darkgray;
            }

            .herramietas, .sidebar2 {
                background-color: #2f313d;
                display: block;
                position: fixed;
                bottom: 0px;
                right: 0px;
                width: 0;
            }

            img {
                width: 50px;
            }

            #main-header {
                height: 60px;
                width: 100%;
                left: 0;
                top: 0;
                position: fixed;
            }

            .sidebar {
                position: fixed;
                height: 100%;
                width: 0;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: #434550;
                overflow-x: hidden;
                transition: 0.4s;
                padding: 1rem 0;
                box-sizing: border-box;
            }

                .sidebar .boton-cerrar {
                    position: absolute;
                    top: 0.5rem;
                    right: 1rem;
                    font-size: 2rem;
                    display: block;
                    padding: 0;
                    line-height: 1.5rem;
                    margin: 0;
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    vertical-align: top;
                }

                .sidebar ul, .sidebar li {
                    margin: 0;
                    padding: 0;
                    list-style: none inside;
                }

                .sidebar ul {
                    margin: 4rem auto;
                    display: block;
                    width: 80%;
                    min-width: 200px;
                }

                .sidebar a {
                    display: block;
                    font-size: 120%;
                    color: #eee;
                    text-decoration: none;
                }

                    .sidebar a:hover {
                        color: #fff;
                        background-color: #008F63;
                    }

            #contenido {
                transition: margin-left .4s;
                padding: 1rem;
            }


            .lateral {
                width: 50px;
                margin: 0;
            }

            .izquierda {
                position: fixed;
                height: 200px;
                width: 250px;
                top: 0;
                left: 80%;
                background-color: #434550;
                margin-top: 60px;
                border-radius: 15px;
                text-align: center;
                color: white;
                border-style: double;
                border-color: black;
            }

            .dropbtn {
                background-color: #008F63;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                border-radius: 50px;
                width: 50px;
                height: 50px;
            }

            .dropdown {
                position: fixed;
                display: inline-block;
                top: 0;
                left: 90%;
                background-color: #434550;
                margin-top: 30px;
                text-align: center;
                background: bottom;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                width: 100px;
            }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                    .dropdown-content a:hover {
                        background-color: #f1f1f1
                    }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }

            .modal {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);
                display: none;
            }

                .modal div {
                    background-color: white;
                    margin: 20px auto;
                    width: 500px;
                }
        </style>
        <div id="sidebar" class="sidebar">
            <a href="#" class="boton-cerrar" onclick="ocultar()">&times;</a>
            <ul class="menu">
                <li><a asp-action="Docentes" asp-controller="Docentes">Docentes</a></li>
                <li><a asp-action="Alumnos" asp-controller="Alumnos">Alumnos</a></li>
            </ul>
        </div>
        <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()"><img class="lateral" />Menú</a>

        <a href="javascript:showModal('modalAgregar')"><i class="fa fa-plus"></i> Agregar Alumno</a>
        <table>
            <tbody>
                <tr>

                    <th>Numero de control</th>

                    <th width="65%">Nombre Del Docente</th>

                    <th>Carrera</th>

                </tr>
                @foreach (var item in Model.docentes)
                {
                    <tr onclick="mostrarHerramietas()">

                        <td>@item.NumeroDeControl</td>

                        <td>@item.Nombre</td>
                        <td>@item.IdCarreraNavigation.Nombre</td>

                    </tr>
                }
            </tbody>

        </table>


        <div class="modal" id="modalAgregar">
            <div>
                <h1>Agregar Docente</h1>
                @*Es necesario agregar la clase formAjax definida en util.js*@

                <form class="formAjax" method="post" action="~/Docentes/Agregar">
                    <label>Nombre:</label>
                    <input required asp-for="Docente.Nombre" />
                    <label>Numero de control:</label>
                    <input required asp-for="Docente.NumeroDeControl" />
                    <label>Carrera:</label>
                    <select asp-for="Docente.IdCarrera" asp-items="@(new SelectList(service.GeTcarreritas(),"Id", "Nombre"))"></select>
                    <p class="error"></p>

                    <input type="submit" value="Agregar" />
                    <a href="~/Docentes/Docentes">
                        <input type="button" value="Cancelar" />
                    </a>
                </form>
            </div>
        </div>

        <footer id="sidebar2" class="sidebar2">
            <a class="flotante" asp-action="Agregar" asp-controller="Docentes"><img src="~/images/add.png" />Agregar</a>
            <a asp-controller="Docentes" asp-action="EditarDocentes"><img src="~/Imagenes/user.png" />Editar</a>
            <a asp-controller="Docentes" asp-action="Eliminar"><img src="~/Imagenes/delete.png" />Eliminar</a>

        </footer>
        @*<div class="izquierda">

            <a>Opciones</a>
            <p>Ejemplo</p>
            <p>Ejemplo</p>
            <p>Ejemplo</p>
        </div>*@
        <div class="dropdown">
            <button class="dropbtn">D</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Salir</a>
            </div>
        </div>
        <script>
            function mostrar() {
                document.getElementById("sidebar").style.width = "300px";
                document.getElementById("contenido").style.marginLeft = "300px";
                document.getElementById("sidebar2").style.marginLeft = "300px";

            }

            function ocultar() {
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("contenido").style.marginLeft = "0";

            }
            function mostrarHerramietas() {
                document.getElementById("sidebar2").style.backgroundColor = "#2f313d";
                document.getElementById("sidebar2").style.width = "100%";
                document.getElementById("sidebar2").style.height = "50px";
                document.getElementById("sidebar2").style.display = block;
                document.getElementById("sidebar2").style.position = absolute;
                document.getElementById("sidebar2").style.bottom = 0;
                document.getElementById("sidebar2").style.right = 0;

                document.getElementById("icono").style.height = "10px";


            }
        </script>
    </body>



